@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
.App {
  font-family: titillium web,sans-serif;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --ion-color-success: #5cb85c;
  --ion-color-success-rgb: 92,184,92;
  --ion-color-success-contrast: #faf4f4;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #51a251;
  --ion-color-success-tint: #6cbf6c;
}

.header {
  font-family: titillium web,sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: left;
  
}
.sidemenu-link{
  text-decoration: none;
  color: #282c34;
  padding: 14px;

}

.conduit-title {
  font-family: titillium web,sans-serif;
  color: #5cb85c;
  font-weight: 900;
  font-size: 32px;

}